
<h1>Cadastrar sua movimentaçao</h1>
<hr width="40%" size="4">

<form [formGroup]="editForm" (ngSubmit)="createBankingTransactions(editForm.value)">
  <div class="form">

    <!--DATA-->
    <div class="input-group mb-4 col-11 col-sm-10 col-md-10 col-lg-5 col-xs-5 campo">
      <span class="input-group-text" id="inputGroup-sizing-default">*Data</span>
      <input type="text" class="form-control" formControlName="data" id="data">
    </div>

    <!--TIPO DE GASTO-->
    <div class="input-group mb-4 col-11 col-sm-10 col-md-10 col-lg-5 col-xs-5 campo">
      <label class="input-group-text" for="tipo_gasto">Tipo de movimentação</label>
      <select class="form-select" id="tipo_gasto" formControlName="tipo_gasto">
        <option>Saida</option>
        <option>Entrada</option>
      </select>
    </div>

    <!--CATEGORIA-->
    <div class="input-group mb-4 col-11 col-sm-10 col-md-10 col-lg-5 col-xs-5 campo">
      <label class="input-group-text" for="categoria">Categoria</label>
      <select class="form-select" id="categoria" formControlName="categoria">
        <ng-container *ngIf="saida">
          <option>Role</option>
          <option>Bebida</option>
          <option>Transporte</option>
          <option>Serivços</option>
          <option>Roupa</option>
          <option>Eletronicos</option>
          <option>Comida</option>
        </ng-container>
        <ng-container *ngIf="entrada">
          <option>Salario</option>
        </ng-container>
      </select>
    </div>

    <!--VALOR-->
    <div class="input-group mb-4 col-11 col-sm-10 col-md-10 col-lg-5 col-xs-5 campo">
      <span class="input-group-text">Valor - R$</span>
      <input type="text" class="form-control" id="valor" formControlName="valor">
      <span class="input-group-text">.00</span>
    </div>

    <!--DESCRIÇÂO-->
    <div class="input-group mb-4 col-11 col-sm-10 col-md-10 col-lg-10 col-xs-10 campo">
      <span class="input-group-text">Descrição*</span>
      <textarea class="form-control" formControlName="descricao" id="descricao"></textarea>
    </div>

  </div>
  <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xs-10 col-md-10">
    <button type="submit" class="btn btn-primary mb-4"
            [disabled]="editForm.invalid">Salvar</button>
  </div>

</form>


