.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-card{
  height: 30%;
  margin-left: 15px;
  border: 3px;
  text-align: center;
}

.poupanca{
  background-color: #317cff;
}
